<div class="row">
  <div class="col-md-6">
    <p>
      <%= image_tag(@book.thumbnail,class: "img img-thumbnail img-responsive") if @book.image.attached?  %>
    </p>

    <p>
      <%= link_to 'Back',:back %>
    </p>
    <p>
      <h3><strong><%= @book.title %></strong></h3>
    </p>

    <p>
      <h4><small> by </small><strong><%= @book.author %></strong></h4>
    </p>

    <p>
      <h5><strong> Average Rating :</strong></h5> <div class="average-review-rating" data-score="<%= @average_rating %>"></div>

      <div><i><%= " (based on #{pluralize(@book.reviews_count,'review')})" %></i></div>
    </p>
    <p class="text-justify">
      <%= @book.description %>
    </p>

    <% if user_signed_in? && @book.user_id == current_user.id %>

      <%= link_to 'Edit', edit_book_path,class: "btn btn-outline-primary" %>
      | 
      <%= link_to 'Destroy', @book,method: :delete,data: {confirm: "Are you sure you want to delete #{@book.title} ?"},class: "btn btn-outline-danger"  %>

    <% end %>
  </div>
  <div class="col-md-6">
    <% if user_signed_in? && @book.allow_user_review(current_user) %>
      <p>
        <%= link_to('Add Review',new_book_review_path(@book),class: "btn btn-outline-primary")  %>
      </p>
    <% else %>
      <p class="alert alert-info">
        You have a review for this product already.
      </p>
    <% end %>


    <p>
      <h4><strong> Reviews </strong><sup><span class="badge badge-pill badge-primary"><%= @book.reviews.count %></span></sup></h4>
      <%= render @book.reviews %>
    </p>

  </div>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');},
    path: '/assets/'
  });

</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');},
    path: '/assets/'
  });

</script>
