<div class="row">
  <div class="col-md-4">
    <p>
      <%= image_tag(@book.thumbnail,class: "img img-thumbnail img-responsive") if @book.image.attached?  %>
    </p>
    <p>
      <%= link_to('Add Review',new_book_review_path(@book))  %>
    </p>
    <p>
      <%= link_to 'Back',:back %>
    </p>

    <p>
      <%= render @book.reviews %>
    </p>

  </div>
  <div class="col-md-8">
    <p>
      <h2><%= @book.title %></h2>
    </p>

    <p>
      <h3><%= @book.author %></h3>
    </p>

    <p>
      <h2> Average Rating</h2>
      <strong><%= @average_rating %></strong>
      <h6><i><%= "Based on #{pluralize(@book.reviews.count,'review')}" %></i></h6>
    </p>
    <p>
      <%= @book.description %>
    </p>

      <% if user_signed_in? && @book.user_id == current_user.id %>

      <%= link_to 'Edit', edit_book_path %>
      | 
      <%= link_to 'Destroy', @book,method: :delete,data: {confirm: "Are you sure you want to delete #{@book.title} ?"}  %>

    <% end %>
  </div>
</div>
