<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description: </strong>
  <%= @category.description %>
</p>

<p>
  <strong> No. of Books in this category: </strong>
  <%= @category.books_count %>
</p>
<% if current_user && current_user.admin? == true %>
  <%= link_to 'Edit', edit_category_path %>
  | 
  <%= link_to 'Destroy', @category,method: :delete,data: {confirm: "Are you sure you want to delete #{@category.name} ?"}  %>
<% end %>
